@tailwind base;
@tailwind components;
@tailwind utilities;


.parallax {
    background-attachment: fixed;
  }
  
  .parallax-content {
    transform: translateY(50px);
  }
  

  .layer {
    background-attachment: fixed;
    background-size: cover;
  }
